.shop{
    display: flex;
    flex-direction: column;
    
}
.shop-cart{
    display: grid;
    grid-template-columns: repeat(auto , 1fr);
    grid-auto-flow: column;
    place-items: center;

}
 .shop-window{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
ul{
    list-style-type: none;
    text-align: left;
}
ul>li{
    padding : .1em
}
.searchbar{
    grid-column: 6 / 12 ;
    grid-row: 1;
}
.login-shop{
    grid-column: 11;
    border: solid black 1.5px;
    padding: 2em;
}