.product {
    color: blue;
    font-size: 2em;
}

.mask {
    height: 100px;
    position: relative;
    top: -1.5em;
    border: solid red 1px;
    font-size: 2em;
}

.mask-down {
    /* content: '🍐'; */
    height: 100px;
    width: 100px;
    position: relative;
    top: -1.5em;
    border: solid red 1px;
    font-size: 2em;
    animation: productFall 3s ease-in 0s;
    animation-fill-mode: forwards;
}

@keyframes productFall {
    0% {
        transform: scale(1);
    }

    45% {
        transform: translate(0) scale(1.2);
    }

    55% {
        transform: translate(0) scale(1.2);
    }

    100% {
        transform: translateY(15em) scale(1.2);

    }
}

.test {
    width: 100px;
    height: 100px;
    font-size: 2em;
    background-color: wheat;
    border-radius: 0 0px 20px 20px;
}

.con:hover .test {
    transform: rotateX(1deg);
    clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 10% 50%);

}